<head>
  <link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
  <script src="js/jquery-1.6.js" ></script>
  <script src="js/cufon-yui.js"></script>
  <script src="js/cufon-replace.js"></script>
  <script src="js/Didact_Gothic_400.font.js"></script>
  <script src="js/jquery.nivo.slider.pack.js"></script>
  <script src="js/atooltip.jquery.js"></script>
  <script src="js/jquery.jqtransform.js" ></script>
  <script src="js/script.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
</head>
<body id="page1">
<!-- content -->
<div class="body2">
  <div class="main">
    <section id="content">
      <div class="wrapper">
        <article class="col1">
          <div id="slider">
            <% @records.each do |record| %>
              <img src="<%=record.get_image%>" alt="" title="<strong><%=record.society%>, <%=record.date&.year%></strong><span><%=record.description%>, building size: <%=record.square_foot%> sq. ft. &nbsp; &nbsp; &nbsp; Price: Rs <%=record.price%> &nbsp; &nbsp; &nbsp; </span>">
            <% end %>
          </div>
        </article>
        <%= render partial: "search_properties" %>
      </div>
    </section>
  </div>
</div>
<div class="body3">
  <div class="row">
    <div class="col-md-6">
      <div class="main" style="margin: 0px !important;">
        <section id="content2">
          <div class="wrapper">
            <article class="col1">
              <div class="pad2">
                <h2>For Rent</h2>
                <% @rent_records.each do |record| %>
                  <div class="wrapper pad_bot3">
                    <figure class="left marg_right1"><img src="<%=record.image.url(:thumb)%>" alt=""></figure>
                    <p class="pad_bot1"><strong class="color2"><%=record.date%>, <%=record.description%>, building size: <%=record.square_foot%> sq. ft.(<%=record.marla%>)<br>
                      Price: <span class="color1">Rs <%=record.price%></span></strong></p>
                    <p class="pad_bot2"> House number <%=record.house_no%> Block<%=record.block%> Society <%=record.society%> <%=record.town%> <%=record.city%>. </p>
                    <a href="/orders/<%=record.id%>/place_order" class="button">Place Order</a>
                  </div>
                <% end %>
              </div>
            </article>
          </div>
        </section>
      </div>
    </div>
    <div class="col-md-6">
      <!-- <div class="main" style="margin: 0px !important;"> -->
        <section id="content2">
          <div class="wrapper">
            <article class="col1">
              <div class="pad2">
                <h2>For Sale</h2>
                <% @sale_records.each do |record| %>
                  <div class="wrapper pad_bot3">
                    <figure class="left marg_right1"><img src="<%=record.image.url(:thumb)%>" alt=""></figure>
                    <p class="pad_bot1"><strong class="color2"><%=record.date%>, <%=record.description%>, building size: <%=record.square_foot%> sq. ft.<br>
                      Price: <span class="color1">Rs <%=record.price%></span></strong></p>
                    <p class="pad_bot2"> House number <%=record.house_no%> Block<%=record.block%> Society <%=record.society%> <%=record.town%> <%=record.city%>. </p>
                    <a href="/orders/<%=record.id%>/place_order" class="button">Place Order</a>
                  </div>
                <% end %>
              </div>
            </article>
          </div>
        </section>
      <!-- </div> -->
    </div>
  </div>
</div>
<div class="body4">
  <div class="main">
    <footer> <span class="call">Contact Us: <span>1-800-567-8934</span></span>
    </footer>
  </div>
</div>
<script>Cufon.now();</script>
<script>
$(window).load(function () {
    $('#slider').nivoSlider({
        effect: 'sliceUpDown', //Specify sets like: 'fold,fade,sliceDown, sliceDownLeft, sliceUp, sliceUpLeft, sliceUpDown, sliceUpDownLeft'
        slices: 17,
        animSpeed: 500,
        pauseTime: 6000,
        startSlide: 0, //Set starting Slide (0 index)
        directionNav: false, //Next & Prev
        directionNavHide: false, //Only show on hover
        controlNav: true, //1,2,3...
        controlNavThumbs: false, //Use thumbnails for Control Nav
        controlNavThumbsFromRel: false, //Use image rel for thumbs
        controlNavThumbsSearch: '.jpg', //Replace this with...
        controlNavThumbsReplace: '_thumb.jpg', //...this in thumb Image src
        keyboardNav: true, //Use left & right arrows
        pauseOnHover: true, //Stop animation while hovering
        manualAdvance: false, //Force manual transitions
        captionOpacity: 1, //Universal caption opacity
        beforeChange: function () {
            $('.nivo-caption').animate({
                bottom: '-110'
            }, 400, 'easeInBack')
        },
        afterChange: function () {
            Cufon.refresh();
            $('.nivo-caption').animate({
                bottom: '-20'
            }, 400, 'easeOutBack')
        },
        slideshowEnd: function () {} //Triggers after all slides have been shown
    });
    Cufon.refresh();
});
</script>
</body>
