<h2>Records</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th style="width: 30px;">Property</th>
      <th>Order Date</th>
      <th>Order Status</th>
      <th>Rent/Purchase</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= image_tag("#{order.record.image.url(:thumb)}") %></td>
        <td><%= order.order_date %></td>
        <td><%= order.status %></td>
        <td><%= order.record.get_status %></td>
        <td>
          <%= link_to "Delete Order", "orders/#{order.id}", method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
